/* RESET */
body { color: #444; background-color: #E7E7E7;}

.sigma-parent {
  border-width: 0px;
  border-style: solid; 
  border-color: #000000; 
  position: relative;
height: 600px;
left:-15px;
}
.sigma-expand {
  position: absolute;
  width: 100%;
  background: #444;
  height: 100%;
}
ul.videos li {
  float: left;
width: 9em;
       margin-bottom: 1em;
}
ul.videos
{
  position:relative;
  top:15px;
  margin-bottom: 0em;
  padding-left : 0em;
  margin-left: 0em;
  list-style: none;
  font-size: 9px;
  color: #000;
  text-indent: 100%;
    white-space: nowrap;
  overflow: hidden;
}
#infoartiste{
  font-size: 10px;
  list-style: none;
}
#bio{
  font-size: 10px;
  line-height:140%;
}
.styled-select select {
  /*  background: transparent;*/
      font-size: 13px;
      width:140px;
        background: #E7E7E7;
        color: #444;
          border: 1px solid #222;
              outline:0px;

}
.styled-select option {
    background: #E7E7E7;
      padding: 0px;
        border: 0px solid #222;
          color: #444;
          /*  outline:0px;*/
          /*  -webkit-appearance: none;*/
}

#selectartists{
/*  background-color: #7D7A7A;*/
}

.listvideos{
/*  background-color: #000;*/
}

